<launch>

    <!-- Initialise the Camera -->
    <node name="camera" pkg="vision" type="camera" output="screen">

        <!-- Output -->
        <remap from="/vision/input_image" to="/vision/input_image" />

        <!-- Node parameters -->
        <rosparam param="show_video_stream">true</rosparam>

    </node>

</launch>
